<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>html5 调用本地摄像头</title>
    <script  type="text/javascript" src="../static/js/jquery.js"></script>
</head>
<body>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="start">Start detect</button>
    <button id="stop">Stop</button>
    <canvas id="canvas" width="640" height="480"></canvas>
    <img id="display" src=""/>

    <script type="text/javascript">
        var aVideo=document.getElementById('video');
        var aCanvas=document.getElementById('canvas');
        var ctx=aCanvas.getContext('2d');
        var butSend=document.getElementById('start');
        var butStop=document.getElementById('stop');
        var interval;

        navigator.getUserMedia  = navigator.getUserMedia ||
                  navigator.webkitGetUserMedia ||
                  navigator.mozGetUserMedia ||
                  navigator.msGetUserMedia;//获取媒体对象（这里指摄像头）
        navigator.getUserMedia({video:true}, gotStream, noStream);//参数1获取用户打开权限；参数二成功打开后调用，并传一个视频流对象，参数三打开失败后调用，传错误信息

        function gotStream(stream) {
                video.src = URL.createObjectURL(stream);
                video.onerror = function () {
                  stream.stop();
                };
                stream.onended = noStream;
                video.onloadedmetadata = function () {
                  alert('摄像头成功打开！');
                };
        }
        function noStream(err) {
                alert(err);
        }

        function sendData() {
            ctx.drawImage(aVideo, 0, 0, 640, 480);//将获取视频绘制在画布上
            base64Data = aCanvas.toDataURL("image/png", 1.0).substr(22)

            $.post("http://127.0.0.1:8000/solve",
            {
              data : base64Data
            },
            function(data,status){


               data = JSON.parse(data);
               var img = document.getElementById("display");
               var src = data['result'];
               var status = data['status'];

               //if status==success stop the clock and draw the result.
               if (status == 'success') {
                   self.clearInterval(interval);
                   butSend.disabled=false
                   butSend.innerHtml="SEND"

                   img.src = src
                   alert(src)
               }
            }).fail(function(){
               //if fail, make it continue to post data.
            });
          }

        butSend.addEventListener("click", function() {
            butSend.disabled=true
            interval=self.setInterval("sendData()",1000);
        });

        butStop.addEventListener("click", function(){
            self.clearInterval(interval);
            butSend.disabled=false
        });

    </script>
</body>
</html>